<!-- Hero -->
<div class="p-5 text-center bg-image rounded-3" style="
    background-image: url('https://tourism-neo.kitzbueheler-alpen.com/media/microsite/landschaft-winter-fieberbrunn-helmut-lackner-4.jpg');
    height:600px;
    background-size:cover;
  ">
    <div class="mask" >
        <div class="d-flex justify-content-center align-items-center m-5  h-100">
            <div class="text-white p-4">
                <h1 class="mb-3">We are your ultimate
                    Winter experience Provider!</h1>
                <p class="mb-3">With hundreds of winter holiday destinations offered, we are your
                    natural choice for planning it all out!</p>
                <a class="btn btn-outline-light btn-lg" href="#!" role="button">Learn more</a>
 
            </div>

        </div>
        
        
    </div>
    
</div>
<div>
	<section class="sectionAbout p-4 clearfix">
    <h3>Our services include</h3>
      <div class="container">
      <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="serviceBox">
                    <div class="service-icon">
                        <span><i class="fas fa-plane-departure"></i></span>
                    </div>
                    <h3 class="title">Flight Tickets</h3>
                    <p class="description">
                        All the flight tickets are bought for you. We guarantee that we can find the best prices for the date you wish to travel.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="serviceBox">
                    <div class="service-icon">
                        <span><i class="fas fa-bed"></i></span>
                    </div>
                    <h3 class="title">Accomodation</h3>
                    <p class="description">
                        The accomodation is all booked for you. We offer rooms in 4-star hotels on every location you are going too visit.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="serviceBox">
                    <div class="service-icon">
                        <span><i class="fas fa-tasks"></i></span>
                    </div>
                    <h3 class="title">What to Do</h3>
                    <p class="description">
                        We offer a schedule with a list of what to do each day, so you do not get lost during your trip. However, you choose if you are going to follow the schedule or not. 
                    </p>
                </div>
            </div>
        </div>
    </div>
  </section>
    </div>

<!-- Hero -->
