<section class="travelOptions">
    <div class="album py-5 bg-light">
        <div class="container">
            <h3>Travel Options</h3>
            <p>The Orient Travel agency offers 3 different trip packages with a variety of destinations as well as intinerary duration. All of the packages were carefuly planned by our travel speciallists for you. This way you and your family do not have to think and get involved in anything for your vacation. Everything is going to be set up by us and you just need to pack your bags and get into the airplane.</p>
            <div class="row">
                <div class="col-md-4">
                      <div class="card mb-4 box-shadow">
                        <img class="card-img-top" alt="Bangkok Picture" style="height: 225px; width: 100%; display: block;" src="https://i.imgur.com/q2BxhmQ.jpg" data-holder-rendered="true">
                        <div class="card-body">
                            <h6> Thailand - Two Weeks</h6>
                            <p class="card-text"> Two weeks is a short time to explore Thailand to the fullest. However this itinerary is crafted to give you a good grasp of the entire country while keeping the logistics as easy as possible.</p>
                              <div class="d-flex justify-content-between align-items-center">
                                <a href="thailand.html" role="button" class="btn btn-block btn-primary">More Information</a>
                              </div>
                        </div>
                      </div>
                </div>
                <div class="col-md-4">
                      <div class="card mb-4 box-shadow">
                        <img class="card-img-top" alt="Sydney Picture" style="height: 225px; width: 100%; display: block;" src="https://i.imgur.com/i2QFDZ5.jpg" data-holder-rendered="true">
                        <div class="card-body">
                            <h6>Austalia - Three Weeks</h6>
                            <p class="card-text"> Australia is a vast country, nearly as big as the USA, so, this intinerary includes visiting Australia’s two best cities: Sydney and Melbourne, the Great Barrier Reef, the Outback and the Great Ocean Road.</p>
                              <div class="d-flex justify-content-between align-items-center">
                                <a href="australia.html" role="button" class="btn btn-block btn-primary">More Information</a>
                              </div>
                        </div>
                      </div>
                </div>
                <div class="col-md-4">
                      <div class="card mb-4 box-shadow">
                        <img class="card-img-top" alt="Koh Phi Phi Picture" style="height: 225px; width: 100%; display: block;" src="https://i.imgur.com/ch1BSld.jpg" data-holder-rendered="true">
                        <div class="card-body">
                            <h6>Asia - Four Weeks</h6>
                            <p class="card-text"> This trip package includes visiting 4 countries in South Asia: Vietnam, Cambodia, Philippines and Thailand, spending roughly a week on each of them. Get ready to know the beauty of Asia. </p>
                              <div class="d-flex justify-content-between align-items-center">
                                <a href="asia.html" role="button" class="btn btn-block btn-primary">More Information</a>
                              </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>            
</section>